*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%; margin: 0 auto; 
    background-repeat: no-repeat;
    background-size: 100% 100%; /*그라데이션은 백그라운드사이즈:커버 안먹힘*/
    background: linear-gradient(180deg, rgba(204, 240, 255, 0.5) 10%, 
    rgba(250, 240, 235, 0.50) 80.5%);
    font-family: "Noto Sans KR";
}


#header{
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 50;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 1px 12.4px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
}

#backBtn{
    background-image: url('/img/backBtn.svg');
    background-repeat: no-repeat;
    width: 50px; height: 50px;
    margin-left: 30px;
    display: inherit;
}



#logo{
    width: 50px; height: 50px;
    display: inherit;
}


.container{
    display: flex;
    padding: 100px 20px 20px 20px;


}

/*좌측 프로필 css*/
#prfCard{
    width: 400px;
    height: 100%;
    padding: 29px 46px 29px;
    margin-left: 20px;
    box-sizing: border-box;
}
.prfCard_header{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.prfImg{
    width: 240px;
    height: 240px;
    border-radius: 257px;
    margin-bottom: 22px;
}

.userName{
    padding-bottom: 8px;
}
.userInfo{
    padding-bottom: 18px;
    font-size: 10px;
    padding-bottom: 20px;
}

.btnContainer{
    padding-bottom: 20px;
}
.btn{
    display: flex;
    width: 200px;
    height: 38px;
    border-radius: 30px;
    margin-bottom: 13px;
    background: #FFF;
    box-shadow: 3px 4px 8.4px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    background-color:  rgba(177, 232, 255, 0.596);
    transition-duration: 1s; 
}
.prfCard_frndList{
    width: 257px;
    height: 380px;
    border-radius: 31px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 3px 4px 8.4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.frndName{
     padding: 10px;
     width: 241px;
     text-align: center;
    }

    .frndName:hover{
        background-color:  rgba(177, 232, 255, 0.596);
        transition-duration: 1s; 
    }

    a{
        text-decoration: none;
    }
    a:link, a:visited{
        text-decoration: none;
        color: black;
    }



/*여기서부터 갤러리 css*/


#pic{margin-left: 30px;}
#pic ul {list-style: none; width: 100%; }
#pic li{
    position: relative; 
    background-color: rgb(187, 185, 185);
    width: 280px;
    height: 280px;
    margin: 18px;
    float: left;
    overflow: hidden;
    border-radius: 10%;
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;            
}

#pic li:hover .picText{
    transform: translateY(-284.0px);
   
}


#pic .picText {
    position: absolute;
    background-color: rgba(148, 148, 148, 0.438);
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    transition: all 1.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bigBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(197, 197, 197, 0.767);
    z-index: 100;
    display: none;
}

#bigImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    border: none;
}

