*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%; margin: 0 auto; 
    background-repeat: no-repeat;
    background-size: 100% 100%; /*그라데이션은 백그라운드사이즈:커버 안먹힘*/
    height: 100vh;
    background: linear-gradient(180deg, rgba(204, 240, 255, 0.5) 0%, 
    rgba(250, 240, 235, 0.50) 80.5%);
}

.container{
    display: flex;
    padding: 20px;

}

/*좌측 프로필 css*/
#prfCard{
    width: 400px;
    height: 100%;
    padding: 29px 46px 29px;
    margin-left: 20px;
    box-sizing: border-box;
}
.prfCard_header{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.prfImg{
    width: 240px;
    height: 240px;
    border-radius: 257px;
    margin-bottom: 22px;
}
.userInfo{
    padding-bottom: 15px;
}
.userInfo p{
    font-size: 5px;
}
.btnContainer{
    padding-bottom: 17px;
}
.btn{
    display: flex;
    width: 200px;
    height: 38px;
    border-radius: 30px;
    margin-bottom: 13px;
    background: #FFF;
    box-shadow: 3px 4px 8.4px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.prfCard_frndList{
    width: 257px;
    height: 380px;
    border-radius: 31px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 3px 4px 8.4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    
}

.frndName{
     padding: 10px;
    }



/*여기서부터 갤러리 css*/


#pic{margin-left: 30px;}
#pic ul {list-style: none; width: 100%; }
#pic li{
    position: relative; 
    background-color: rgb(187, 185, 185);
    width: 300px;
    height: 300px;
    margin: 18px;
    float: left;
    overflow: hidden;
    border-radius: 10%;
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;            
}

#pic li:hover .picText{
    transform: translateY(-304.0px);
   
}

#pic .picText{
    position: absolute;
    background-color: rgba(148, 148, 148, 0.438);
    text-align: center; 
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: all 1.2s;
}

#bigBox {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 0.404);
    z-index:10;
    display: none;
}

 /**/
